/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Add-Content .gitignore "`n# local extras (do not commit)`
Add-Content .gitignore "server.crt"
Add-Content .gitignore "Backup/"
Add-Content .gitignore "sti/"
Add-Content .gitignore ".vscode/"
Add-Content .gitignore "*.class"
Add-Content .gitignore "temp.php"
Add-Content .gitignore "package copy.json"
